appdirs==1.4.4
black==24.10.0
certifi==2024.8.30
click==8.1.7
importlib_metadata==8.5.0
isort==5.13.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
phonenumbers==8.13.50
platformdirs==4.3.6
pyee==11.1.1
pyppeteer==2.0.0
tqdm==4.67.0
typing_extensions==4.12.2
urllib3==1.26.20
websockets==10.4
zipp==3.21.0
